<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BOOKTRACK</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
	</style>


	</head>

<body>

<h1>Sign in</h1>

<br/>

<div class="row">
<div class="col-sm-2"></div>

	<div class="col-sm-8">
	<form class="form" role='form' enctype="multipart/form-data" method="post" name='registration_form'>
	{% csrf_token %}
	<div class="form-group">
		<label for="username">User Name:</label>
		<input type="text" class="form-control" id="username" name="username" autofocus>
	</div>
	<div class="form-group">
		<label for="email">Email:</label>
		<input type="text" class="form-control" id="email" name="email">
	</div>
	  <div class="form-group">
		<label for="password">Password:</label>
		<input type="password" class="form-control" id="password" name="password">
	  </div>
	<div class="form-group">
		<label for="password2">Password confirmation:</label>
		<input type="password" class="form-control" id="password2" name="password2">
	  </div>
	<div class="form-group">  
	<input type="submit" value="Sign up"/>
	</div>
	</form>

	</div>
<div class="col-sm-2"></div>
</div>
</body>

</html>